*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.loginLayout {
  background-color: cornflowerblue;
  background-image: url(/img/login.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-inline: 100px;
  padding-block: 138px;
  height: 800px;
}

.loginForm {
  width: 500px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.5);
  padding: 60px;
  border-radius: 10px;

  label {
    margin-bottom: 12px;
    color: #333333;
  }

  input {
    padding: 10px 16px;
    border-color: transparent;
    border-radius: 7px;
    margin-bottom: 16px;
  }

  input::placeholder {
    color: #BFBFBF;
    font-weight: 700;
  }

  button {
    background-color: #4983ec;
    border: transparent;
    padding-block: 6px;
    color: #FFF;
    border-radius: 7px;
  }

  button:hover {
    background-color: #789dde;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}
